<page-header></page-header>
<!--
<p>
  The dynamic forms are powered by
  <a href="https://github.com/ngx-formly/ngx-formly" target="_blank">
    <code>ngx-formly</code>
  </a>.
</p>
 -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Simple</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card-title>Add New MOU</mat-card-title>
    <form [formGroup]="form3" (ngSubmit)="submit2()">
      <formly-form [form]="form3" [fields]="fields3" [model]="model"></formly-form>
     <label class="file-input-label">
        Select MOU PDF
        <input type="file" (change)="onFileChange($event)" class="file-input" matInput/>
      </label>

      <div class="d-flex justify-content-center m-t-8">
        <button mat-button class="m-x-8" type="button">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Add New Data</mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <!--   <form [formGroup]="form2" (ngSubmit)="submit2()">
      <formly-form
        [model]="model2"
        [fields]="fields2"
        [form]="form2"
        [options]="options3"
      ></formly-form>
      <input type="file" (change)="onFileChange($event)" />

      <div class="d-flex justify-content-center m-t-8">
        <button mat-button class="m-x-8" type="button">Cancel</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form> -->
  </mat-card-content>
</mat-card>
