<page-header></page-header>
<!--
<p>
  The dynamic forms are powered by
  <a href="https://github.com/ngx-formly/ngx-formly" target="_blank">
    <code>ngx-formly</code>
  </a>.
</p>
 -->

<mat-card>


  <mat-card-content>
    <mat-card-title>Add New IMOU</mat-card-title>
    <form [formGroup]="form3" (ngSubmit)="submit2()">
      <formly-form [form]="form3" [fields]="fields3" [model]="model"></formly-form>
     <label class="file-input-label">
        Select MOU PDF
        <input type="file" (change)="onFileChange($event)" class="file-input" matInput/>
      </label>

      <div class="d-flex justify-content-center m-t-8">
        <button mat-button class="m-x-8" type="button">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
