<h1 mat-dialog-title>Edit Record</h1>
<div mat-dialog-content>
  <form #editForm="ngForm" [formGroup]="form"  (ngSubmit)="submitForm()">
    <mat-form-field>
      <input matInput placeholder="Continent" name="continent" [(ngModel)]="formData.continent" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Country" name="countryOfPartnerInstitution" [(ngModel)]="formData.countryOfPartnerInstitution" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Partner Institution" name="nameOfPartnerInstitution" [(ngModel)]="formData.nameOfPartnerInstitution" required>
    </mat-form-field>
    <!-- Add other fields as needed -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Close</button>
  <button mat-button color="primary" [disabled]="!editForm.valid" (click)="submitForm()">Save</button>
</div>


