<breadcrumb></breadcrumb>

<div class="row">
 <!-- Statistics -->
  @for (stat of stats; track stat) {
    <div class="col-sm-6 col-md-3">
      <mat-card [class]="['text-white', stat.color]">
        <mat-card-header>
          <mat-card-subtitle class="text-white text-show">{{stat.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2 class="m-y-8">{{stat.amount}}</h2>
          <mtx-progress [value]="stat.progress.value"
            height="2px"
            foreground="rgba(255,255,255,1)"
            background='rgba(0,0,0,.5)'>
          </mtx-progress>
          <small class="text-muted">IMOUs</small>
        </mat-card-content>
      </mat-card>
    </div>
  }

    @for (stat of stats2; track stat) {
    <div class="col-sm-6 col-md-3">
      <mat-card [class]="['text-white', stat.color]">
        <mat-card-header>
          <mat-card-subtitle class="text-white text-show">{{stat.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2 class="m-y-8">{{stat.amount}}</h2>
          <mtx-progress [value]="stat.progress.value"
            height="2px"
            foreground="rgba(255,255,255,1)"
            background='rgba(0,0,0,.5)'>
          </mtx-progress>
          <small class="text-muted">IMOUs</small>
        </mat-card-content>
      </mat-card>
    </div>
  }
  <div class="col-md-12">
    <app-table-kitchen-sink></app-table-kitchen-sink>
  </div>
</div>
