<div class="container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Search..." />
    <mat-icon>search</mat-icon>
  </div>

  <button
    *ngxPermissionsOnly="['canAdd']"
    mat-button
    mat-raised-button
    color="primary"
    (click)="navigateToForm()"
  >
    Add New IMOU
  </button>
</div>

<ng-container>
  <mat-toolbar color="success" class="chart-container">
    <span class="header-title">International Memorandum Of Understanding List</span>
  </mat-toolbar>
  <mtx-grid
    [data]="filteredData"
    [columns]="columns3"
    [loading]="isLoading"
    [columnResizable]="columnResizable"
    [multiSelectable]="multiSelectable"
    [rowSelectable]="rowSelectable"
    [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
    [rowHover]="rowHover"
    [rowStriped]="rowStriped"
    [showToolbar]="showToolbar"
    [toolbarTitle]="'International Memeorandum Of Understanding List'"
    [columnSortable]="columnSortable"
    [columnPinnable]="columnPinnable"
    [expandable]="expandable"
    [expansionTemplate]="expansionTpl"
    [pageOnFront]="showPaginator"
    [showPaginator]="showPaginator"
    [pageSizeOptions]="[5, 10, 50, 100]"
    [pageIndex]="0"
    [pageSize]="5"
    (sortChange)="changeSort($event)"
    (selectionChange)="changeSelect($event)"
  >
  </mtx-grid>
</ng-container>
<ng-template #capitalizedCell let-row>
  <span class="capitalized-cell">{{ row.rowData[row.column.field] | titlecase }}</span>
</ng-template>
<ng-template #expansionTpl let-row>
  {{ row.title }}
  <button mat-button (click)="viewFile(row.downloadUrl)">View PDF</button>
  <button mat-button>Download PDF</button>
</ng-template>

<ng-template #viewButton let-row="rowData">
  <button mat-button color="primary" (click)="viewFile(row)">View</button>
</ng-template>

<ng-template #downloadButton let-row="rowData">
  <a mat-button color="primary" [href]="row.downloadURL" target="_blank" download>Download</a>
</ng-template>

<div *ngIf="pdfLink">
  <iframe [src]="pdfLink" width="100%" height="600px"></iframe>
</div>
