<page-header class="bg-green-600"></page-header>

<div class="data-grid-options">
  <mat-checkbox [(ngModel)]="rowSelectable">Row Selectable</mat-checkbox>
  <mat-checkbox [(ngModel)]="hideRowSelectionCheckbox">Hide checkbox</mat-checkbox>
  <mat-radio-group [(ngModel)]="multiSelectable">
    <mat-radio-button [value]="false">Single Selectable</mat-radio-button>
    <mat-radio-button [value]="true">Multiple Selectable</mat-radio-button>
  </mat-radio-group>
  <mat-checkbox [(ngModel)]="showToolbar">Show Toolbar</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnHideable">Column Hiding</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnSortable">Column Sorting</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnPinnable">Column Pinning</mat-checkbox>
  <mat-checkbox [(ngModel)]="rowHover">Hover</mat-checkbox>
  <mat-checkbox [(ngModel)]="rowStriped">Striped</mat-checkbox>
  <mat-checkbox [(ngModel)]="expandable" (change)="enableRowExpandable()"
    >Row Expandable
  </mat-checkbox>
  <mat-checkbox [(ngModel)]="showPaginator">Show Paginator</mat-checkbox>
  <mat-checkbox [(ngModel)]="isLoading">Loading Status</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnResizable">Column Resizable</mat-checkbox>
</div>
<div class="m-y-8">
  <button mat-button (click)="navigateToForm()">Add New Data</button>
  <button mat-button (click)="updateCell()">Update cell</button>
  <button mat-button (click)="updateList()">Update list</button>
  <a
    mat-button
    class="text-blue-600"
    href="https://ng-matero.github.io/extensions/components/data-grid"
    target="_blank"
    >View more examples</a
  >
</div>

<mtx-grid
  [data]="dataSource.data"
  [columns]="columns2"
  [loading]="isLoading"
  [columnResizable]="columnResizable"
  [multiSelectable]="multiSelectable"
  [rowSelectable]="rowSelectable"
  [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
  [rowHover]="rowHover"
  [rowStriped]="rowStriped"
  [showToolbar]="showToolbar"
  [toolbarTitle]="'Data Grid Toolbar'"
  [columnHideable]="columnHideable"
  [columnSortable]="columnSortable"
  [columnPinnable]="columnPinnable"
  [expandable]="expandable"
  [expansionTemplate]="expansionTpl"
  [pageOnFront]="showPaginator"
  [showPaginator]="showPaginator"
  [pageSizeOptions]="[5, 10, 50, 100]"
  [pageIndex]="0"
  [pageSize]="5"
  (sortChange)="changeSort($event)"
  (selectionChange)="changeSelect($event)"
>
</mtx-grid>
<ng-template #expansionTpl let-row>
  {{ row.title }}
</ng-template>

<table class="table" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Country</th>
    <td mat-cell *matCellDef="let item">{{ item.country }}</td>
  </ng-container>

  <ng-container matColumnDef="t2">
    <th mat-header-cell *matHeaderCellDef>Partner</th>
    <td mat-cell *matCellDef="let item">{{ item.title }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let item">{{ item.category }}</td>
  </ng-container>

  <ng-container matColumnDef="purpose of MOU">
    <th mat-header-cell *matHeaderCellDef>Purpose Of MOU</th>
    <td mat-cell *matCellDef="let item">{{ item.purposeOfMOU }}</td>
  </ng-container>
  <ng-container matColumnDef="reponsible Officer">
    <th mat-header-cell *matHeaderCellDef>Reponsible Officer</th>
    <td mat-cell *matCellDef="let item">{{ item.responsibleOsficer }}</td>
  </ng-container>

  <ng-container matColumnDef="reponsible Department">
    <th mat-header-cell *matHeaderCellDef>Reponsible Officer</th>
    <td mat-cell *matCellDef="let item">{{ item.responsibleDepartment }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let item">
      <button mat-button>Edit</button>
      <button mat-button color="warn">Delete</button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="[
      'title',
      't2',
      'description',
      'purpose of MOU',
      'reponsible Officer',
      'reponsible Department',
      'actions'
    ]"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: [
        'title',
        't2',
        'description',
        'purpose of MOU',
        'reponsible Officer',
        'reponsible Department',
        'actions'
      ]
    "
  ></tr>
</table>
