<div class="container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Search..." />
    <mat-icon>search</mat-icon>
  </div>
  <button mat-button mat-raised-button color="primary" (click)="navigateToForm()">Add New IMOU</button>
</div>
<ng-container>
  <mat-toolbar color="primary" class="header-toolbar">
  <span class="header-title">International Memorandum Of Understanding List</span>
</mat-toolbar>
  <mtx-grid
    [data]="filteredData"
    [columns]="columns3"
    [loading]="isLoading"
    [columnResizable]="columnResizable"
    [multiSelectable]="multiSelectable"
    [rowSelectable]="rowSelectable"
    [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
    [rowHover]="rowHover"
    [rowStriped]="rowStriped"
    [showToolbar]="showToolbar"
    [toolbarTitle]="'International Memeorandum Of Understanding List'"
    [columnSortable]="columnSortable"
    [columnPinnable]="columnPinnable"
    [expandable]="expandable"
    [expansionTemplate]="expansionTpl"
    [pageOnFront]="showPaginator"
    [showPaginator]="showPaginator"
    [pageSizeOptions]="[5, 10, 50, 100]"
    [pageIndex]="0"
    [pageSize]="5"
    (sortChange)="changeSort($event)"
    (selectionChange)="changeSelect($event)"
  >
  </mtx-grid>
</ng-container>
<ng-template #expansionTpl let-row>
  {{ row.title }}
</ng-template>
