
<div class="container">
  <div class="create-user-section">
    <h2>Create User</h2>
    <div class="input-group">
      <label>Email:</label>
      <input type="email" #emailInput required>
    </div>
    <div class="input-group">
      <label>Password:</label>
      <input type="password" #passwordInput required>
    </div>
    <button class="btn-create-user" (click)="createUser(emailInput.value, passwordInput.value)">Create User</button>
  </div>

  <div class="list-users-section">
    <h2>List of Users</h2>
    <ul class="user-list">
      <li *ngFor="let user of users$ | async">
        <span>{{ user.email }}</span>
        <div class="btn-group">
          <button class="btn-set-admin" (click)="adjustUserPermissions(user, 'ADMIN')">Set Admin</button>
          <button class="btn-set-manager" (click)="adjustUserPermissions(user, 'MANAGER')">Set Manager</button>
          <button class="btn-set-guest" (click)="adjustUserPermissions(user, 'GUEST')">Set Guest</button>
        </div>
      </li>
    </ul>
  </div>
</div>
